<footer class="footer-custom mt-5">
  <div class="container py-4">
    <div class="row text-center text-md-start align-items-center">
      <div class="col-md-6 mb-3 mb-md-0">
        <a class="navbar-brand fw-bold fs-4" routerLink="/">
            <i class="bi bi-joystick me-2"></i>
            Sala de Juegos
        </a>
        <p class="mb-0 text-light-emphasis">Proyecto realizado con Angular + Supabase. </p>
      </div>

      <div class="col-md-6 text-md-end">
        <p class="mb-1">Desarrollado por Ezequiel Morán </p>
        <small class="text-light-emphasis">  © 2026 Todos los derechos reservados </small>
      </div>
    </div>
  </div>
</footer>