<nav class="navbar navbar-expand-lg navbar-dark custom-navbar shadow">
  <div class="container">
    <a class="navbar-brand fw-bold fs-4" routerLink="/">
      <i class="bi bi-joystick me-2"></i>
      Sala de Juegos
    </a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto gap-3">
        <li class="nav-item">
          <a class="nav-link-custom" routerLink="/" routerLinkActive="active">
            <i class="bi bi-house-door me-1"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link-custom" routerLink="/login" routerLinkActive="active">
            <i class="bi bi-box-arrow-in-right me-1"></i> Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link-custom" routerLink="/register" routerLinkActive="active">
            <i class="bi bi-person-plus me-1"></i> Register
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link-custom" routerLink="/quien-soy" routerLinkActive="active">
            <i class="bi bi-person-badge me-1"></i> About me
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>